<!-- rich editor -->
<script type="text/javascript" src="{{ url_for('static' , filename='js/ckeditor_4.5.7_full/ckeditor.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static' , filename='js/ckeditor_4.5.7_full/plugins/image/dialogs/image.js') }}"></script>
    
    <!-- title -->
    <div id="add_work_form">
    <div class="text-center"><h4>{{ title }}</h4></div>
    <div>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text">日期</span>
                </div>
                <!-- date  param : data-enable-time="true" data-enable-seconds="true" -->
                <input type="text" class="form-control" id="date" value="{{ r_time }}" placeholder="日期" readonly/>
            </div>
            <div class="input-group">
                <!-- title -->
                <div class="input-group-append">
                    <span class="input-group-text">標題</span>
                </div>
                <input type="text" class="form-control" id="title">
                <div class="input-group-append">
                    <span class="input-group-text">類</span>
                </div>
            </div>
            <div class="input-group">
                <!-- content -->
                <textarea class="form-control" id="content" rows="15"></textarea>

                <!-- user -->
                <input type="hidden" id="user" value="{{ user }}" />
            </div>
            <div class="text-center my-2">
                <button  class="btn btn-primary" onclick="submit_add_calendar_record_form()"><i class="bi bi-pencil-square"></i> 新增</button>
                <button  class="btn btn-danger" onclick="cancel_add_work_record_form()"><i class="bi bi-x-circle-fill"></i> 取消</button>
            </div>
    </div>

    <!-- show msg -->
    <div id="show_msg" class="text-center"></div>

    <!-- date picker & rich editor-->
    <script>
        $("#date").flatpickr();  
        CKEDITOR.replace('content');
    </script>